@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


header, footer {

    background-color: #EB43A3;
    position:sticky;
    width: 100%;
}

header {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 6;
}

footer {
    position: fixed;
    height: 5vh;
    bottom: 0;
    left: 0;
}

body {
    margin: 0;

    background-image:url("/Users/sumimi/Documents/html/Unicorn_site/background.png")
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EB43A3;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: x-small;
    margin-left: 10px;
    margin-right: 10px;
  }

  li a:hover {

    background-color: #C55394;
  }
#titre {

    font-family: 'Courgette', cursive;
    font-size: 20px;
    color: #fff;
    margin-left: 30px;

}

.text {

    font-size: x-small;
}

#MyUnicorn {

    color: #fff;
    font-size: 10px;
    text-align: right;
    margin: 10px;
    padding: 5px;
}
h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 300px;
    bottom: 210px;
    font-family: 'Courgette', cursive;
    color: #EB43A3;
    z-index: 7;
}
#ArcEnCiel {
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    bottom: 300px;
    width: 30%;
    left: 20px;
    
}
fieldset {

    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 60%;
    bottom: 390px;
    box-shadow: 0 0 10px #999;
    border-radius: 8px;
    background-color: #fff;
}

#titre1 {

    font-family: 'Courgette',cursive;
    color: #EB43A3;
    font-size: 20px;
}

#titre2 {
    
    font-family: 'Courgette',cursive;
    color: #EB43A3;
    font-size: 20px;
    
    
}

#titre3 {

    font-family: 'Courgette',cursive;
    color: #EB43A3;
    font-size: 20px;
    margin-top: 300px;
}

#map {

    float: left;
}

#coordonnées{

    font-size: x-small;
}

#Abonnezvous{

    font-size: x-small;
}

#soustitremap{

    font-family: 'Courgette',cursive;
    color: #C55394;
    font-size: small;
}

#Newsletter {

    font-family: 'Courgette',cursive;
    color: #C55394;
    font-size: small;
}
#submit {
    width: 90px;
    margin-top: 8px;
    background-color: #C55394;
    color: #fff;
    border-radius: 3px;
    border-color: #C55394;
    font-size: small;
}

.coordonnées {

    margin-left: 520px;
}

.gallery {

    padding: 8px;
    float: left;
    width: 25%;
    box-sizing: border-box;
    
}

.image #pic{
   width: 100%;
   height: 150px;
}


figcaption {
    background-color: #222;
    color: #FFF;
    font-size: italic smaller  sans-serif;
    padding: 3px;
    text-align: center;
}

figure {
    border: none;
    display: flex;
    flex-flow: column;
    padding: 5px;
    width: 100%;
    margin: auto;
}

